<h2 class = "contact-us">Contact Us</h2>

<div class="contact-section">
  <h3>Contact Information</h3>

  <p>Sales : <a href="tel:0713190600">0713190600</a> </p>
  <p>Customer Support : <a href="tel:0720660930">0720660930</a> </p>
  <p>Email Address: <a href="mailto:Marvin&#64;khudua.co.za">marvin&#64;khudua.co.za</a></p>
</div>

<h2 class ="locate-us">Locate Us</h2>

<div class="address-container">


  <div class="main-office">
    <h3>Main Office</h3>
    <p> Stand 294 Moshate<br>
      Ga_Sekororo<br>
      Trichardtsdal, 0890
    </p>
    <a class="map-link" href="https://www.google.com/maps?q=Stand+294+Moshate+Ga_Sekororo+Trichardtsdal+0890"
      target="_blank">View on Google Maps</a>
  </div>

  <div class="joburg-office">
    <h3>Johannesburg Office</h3>
    <p>3 Ealing Crescent<br>
      Bryanston<br>
      Johannesburg, 2191
    </p>
    <a class="map-link" href="https://www.google.com/maps?q=3+Ealing+Crescent+Bryanston+Johannesburg+2191"
      target="_blank">View on Google Maps</a>
  </div>

  <div class="polokwane-office">
    <h3>Polokwane Office</h3>
    <p> 1 Basil Street<br>
      Ivy Park<br>
      Polokwane, 0699
    </p>
    <a class="map-link" href="https://www.google.com/maps?q=1+Basil+Street+Ivy+Park+Polokwane+0699" target="_blank">View
      on Google Maps</a>
  </div>


</div>

<h2 class = "enquire-about-us">Enquire About Us</h2>

<div>
    <label for ="name">Enter Your Name:</label>
    <input type="text" id ="name" name ="name" required> <br>

    <label for ="cellphone">Enter Your Cellphone Number,:</label>
    <input type="tel" id ="cellphone" name ="cellphone" pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder ="012-345-6789"> <br>

    <label for ="name">Enter Your Email Address:</label>
    <input type="email" id ="email" name ="email" placeholder="example@example.com"> <br>

    <label for ="name">What Would You Like To Know?:</label>
    <textarea  type="question" id ="question" name ="question" rows="5" required></textarea><br>

    <div class="button-container">
      <button type="submit">Submit</button>
      <button type="reset">Clear</button>
    </div>


</div>
