<div class="about-container">
  <p>At KHUDUA, we were born from a passion for excellence in every engine's heartbeat. As connoisseurs of high-quality
    auto vehicle parts, our journey began with a relentless drive for perfection. With a wealth of experience in the
    automotive industry, we embraced innovation and set out on a transformative path.</p>


    <div class="images">
      <img src='assets/images/car-engine.jpg' alt="car-engine">
      <img src='assets/images/blade-saw.jpg' alt="working-engine">
      <img src='assets/images/guy-under-car.jpg' alt="guy-under-car">
      <img src='assets/images/guy-working-on-engine.jpg' alt="working-engine">
    </div>


  <p> Today, our legacy reaches far beyond the roads, highways, and byways. We've ventured into the heart of heavy-duty
    industries, empowering the giants of construction, civil engineering, mining, and more. Our mission is clear: to be
    your trusted partner in progress. In the vibrant tapestry of industries, we've woven an extensive collection of
    products. From engine components that propel your ambitions to brakes that stop time in its tracks, from suspension
    parts that cradle reliability to electrical systems that electrify efficiency – we've mastered the art of
    performance. But here's where the magic truly happens:</p>

    <div class="images">
      <img src ='assets/images/excavator.jpg' alt = "car-engine">
      <img src ='assets/images/construction-machine.jpg' alt = "working-engine">
      <img src ='assets/images/construction-guy-1.jpg' alt = "construction-guy">
      <img src ='assets/images/guy-in-construction-2.jpg' alt = "working-engine">
    </div>



  <p> Our products are not just a collection; they're a curation. Each piece, meticulously selected through a vast
    network, is a testament to affordability and reliability. We've sculpted a symphony of components designed to
    orchestrate your success, fine-tuning the rhythm of productivity. At KHUDUA, we're not just in the business of
    parts; we're in the business of progress, innovation, and transformation. We're here to keep your wheels turning and
    your dreams accelerating. Welcome to the journey where quality, reliability, and ingenuity converge.</p>


    <div class="images">
      <img src='assets/images/working-on-road.jpg' alt="working-on-road">
      <img src='assets/images/working-on-car.jpg' alt="working-engine">
      <img src='assets/images/guy-welding.jpg' alt="welding">
      <img src='assets/images/tools-on-table.jpg' alt="tools-on-bench">
    </div>


  </div>
