.images{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-container p{
  font-size: 12px;
  margin: 30px;
  line-height: 1;
  margin: 20px;
}
.about-container img{
  width: 75px;
  height: 75px;
  margin: 5px;

}


