.products-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.first-header{
  text-align: center;
  color: #304364;
  font-size: 20px;
}

.first-paragraph{
  text-align: center;
  font-size: 22px;
}

.products-container h1{
  font-size: 20px;
  font-weight: bold;
  color: #304364;
}

.products-container p{
  font-size: 14px;
  padding: 25px;
}

