<div class="products-container">

  <h1 class="first-header">Our Products</h1>
  <p class="first-paragraph">Khudua offers products to help you achieve your goals.</p>

  <div class="vehicle-parts">
    <h1>Auto Vehicle Parts</h1>
    <p>We are dedicated to keeping your vehicles on the road and running at their best. Our comprehensive selection of
      auto parts includes engine components, brakes, suspension parts, electrical systems, and much more. Quality and
      performance are our priorities.</p>
  </div>

  <div class="workshop-equipment">
    <h1>Workshop Equipment</h1>
    <p>We take pride in being your trusted partner for automotive excellence. A well-equipped workshop is essential for
      efficiency and precision in auto-repair and maintenance. Explore our comprehensive range of high-quality workshop
      equipment to meet all your needs.</p>
  </div>

  <div class="mining-equipment">
    <h1>Mining Equipment</h1>
    <p>At Khudua, we're not just about automotive excellence; we're also at the forefront of supplying top-tier mining
      equipment for the modern mining industry. Our range of mining equipment is designed to meet the evolving needs of
      mining operations, offering superior performance, durability, and efficiency.</p>
  </div>
</div>
