<div class="company-logo">
  <img src="/assets/images/khudua-logo-small.jpg" alt="logo">
</div>

<div class = "paragraph-container">
  <p>
    At KHUDUA, we're driven by a passion for automotive excellence, sourcing premium parts with relentless dedication. Our
    legacy extends beyond roads, empowering industries like construction and mining. With a curated collection, we
    orchestrate success, offering quality and reliability. Join us in our journey of progress, innovation, and
    transformation. Welcome to KHUDUA – where quality meets ingenuity.
  </p>
</div>

<div class="sticker-container">

  <a href = "#">
    <img src="assets/images/expert-advice.jpg" alt = "advice" class = "advice">
    <span> Expert Advice</span>
  </a>

  <a href = "#">
    <img src="assets/images/fast-delivery.jpg" alt = "fast-delivery" class = "fast-delivery">
    <span>Fast Delivery</span>
  </a>

  <a href = "#">
    <img src="assets/images/plant-machin-hire.jpg" alt = "plant-machine-hire" class = "plant-machine-hire">
    <span>Plant Machine Hire</span>
  </a>

</div>

<div class="khudua-branches">

  <a routerLink = "/khudua-groundup">
    Khudua Groundup
  </a>

  <a routerLink = "/khudua-resources">
    Khudua Resource
  </a>

</div>
